.DS_Store
*-workspace
bin/*
data/db/backup/*
data/log/*
data/certs/*
vendor
data/secrets/*
data/public/assets/scripts/app-*
data/public/assets/styles/app-*
data/public/assets/images/products/*
exec/*
open-payment-host
.vscode
node_modules
data/db/oph.db*
package-lock.json
package.json
__debug_bin*
**/*_test.go
.cache
fly.toml
oph.sqbpro
build-docker-image.sh
